<h1>My tasks</h1>
<p></p>
<%= Date.today %>
<ul>
<%  @tasks.each do |task| %>
<li><%= task.completed ? "âœ…" : "ðŸ”²" %> - <%= link_to task.title, task_path(task) %> - <%= link_to "âœï¸", edit_task_path(task) %> - <%= link_to "ðŸ—‘ï¸", task_path(task), method: :delete, data: { confirm: "Seguroski?"} %></li>

<% end %>

</ul>
<p><%= link_to 'Add a new task', new_task_path%></p>